@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


    
}
body {
    font-family: 'Mochiy Pop P One', sans-serif;
   
}
.fondo{
display: grid;

grid-template-areas: "header"
"nav"
"main"
"creditos";
grid-template-rows: 110px 60px 400px 60px;
    background-size: cover;
}
/*HEADER*/
.header{
  grid-area: header;
    background-color: rgb(255, 165, 0);
    color: purple;
    text-align: center;

}
.header__titulo{
    display: flex;
    justify-content: center; 
   
}
.header__dedicacion{
    display: flex;
    justify-content: center;
   
}
/*NAV*/
nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
background-color:orange;
position: sticky;
top: 0%;
border-style: none;
;
padding-top: 20px;

}
.nav__items{
    display: flex;
    list-style: none;

  
}
.nav__pestañas{
    display: flex;
 border: solid 1px coral;
padding: 10px;
border-radius: 10px;
  margin-left: 10px;
 margin-right: 50px;
}
.nav__pestañas:hover{
    display: flex;
 border: solid 1px coral;
padding: 10px;
border-radius: 10px;
  margin-left: 10px;
  background-color: coral;

}

/*MAIN*/
.main__img{ 

    display: grid;
    grid-template-areas:"vuelta paseo"
    ;
  

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1 fr;
    grid-area: main;
}
.card{
  height: 500px;
  width: 500px;
  margin: 30px;  

}
.card__header{
    
    text-align: center;
    color: purple;
border-bottom: solid;
font-size: 50px
}
.img__vuelta{
    grid-area: vuelta;
height: 100%;
width: 100%;
}
.img__paseo{
    grid-area: paseo;
    height: 100%;
width: 100%
}
.instagram {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
}
.instagram i{
    display: flex;
    font-size: 30px;
    color: red;
    
}
/*carta*/
.productos{
    display: grid;
    grid-template-areas: "frutas" 
    "sugerencias"
    "especiales"  ;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
    color: purple;
    margin-left: 30px;
    margin-top: 20px;

}
.productos__frutas{
    grid-area: frutas;
    color: purple;
    margin-left: 30px;

}
.productos__frutasLista{
    margin-left: 30px;
    list-style: none;
    color: rgb(162, 0, 255);
}
.sugerencias{
    grid-area: sugerencias;
    color: purple;
 
}
.sugerencias__lista{
    margin-left: 30px;
    list-style: none;
    text-decoration: none;
    color: rgb(172, 16, 172);
}
.sugerencias__nombres{
    text-decoration: underline;

}
.especiales{
    grid-area: especiales;
    display: flex;
    color: purple;
    margin-left: 30px;
    align-self: end
}
.especiales__lista{

    margin-left: 30px;
    list-style: none;
    text-decoration: none;
    color: rgb(153, 0, 255);
    align-self: end}
.especiales__nombres{
   text-decoration: underline;
}
/*referencias*/
.encuesta{
    color: purple;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px
}
.pregunta1{
    margin-left: 30px;
    color: black
   
}


.pregunta2 {    
    margin-left: 30px;
    color: black;
}
.pregunta3{
    margin-left: 30px;
    color: black;
}
.respuesta1{
    color: green;
}
.respuesta{
    color: red;}
.respuesta3{
    color: dodgerblue;
}
/*ubicacion*/
.ubicacion{
display: flex;
text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    color: purple;
    text-decoration: underline;
}
.ubicacion__maps{
    display: flex;
 
text-align:  center;
    margin-left: auto;
    margin-right: auto;
}
/*contactos*/


.contactos{
 display: flex;
 
    margin-left: 30px;
    color: purple;
    
}
.formulario{
    margin-left: 30px;
    color: rgb(162, 0, 255);

}
.instagram__contactos{
    margin-top: 80px;
}
.instagram__contactos i {
    font-size: 30px;
    color: red;

}
/*FOOTER*/
.creditos{
    grid-area: creditos;
    background-color: orange;
    color: rgb(102, 22, 102);
    height: 30px;
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
  
}
@media screen and (max-width: 1200px) {
   .fondo
   {background-color: #F2BC1B 
} 
.header{
    text-align: center;

}
.main__img{
    grid-template-areas:"vuelta paseo";
    grid-template-columns: 1fr 1fr;}
    .productos{
        display: grid;
        grid-template-areas: "frutas" 
        "sugerencias"
        "especiales"  ;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        font-size: 20px
}
  
    
    
} 
@media screen and (max-width: 768px) {
    .fondo {
        background-color: #C5D92B;
 
    }
    .header{
        text-align: center;}
     .main__img{

            grid-template-areas:"vuelta" 
            "paseo";
 
            grid-template-columns:  1fr;
            grid-template-rows: 1 fr;}
.productos{
                display: grid;
                grid-template-areas: "frutas" 
                "sugerencias"
                "especiales"  ;
                grid-template-columns: 1fr ;
                grid-template-rows: 1fr;
                font-size: 40px}
}

@media screen and (max-width: 480px) {
    .fondo{
        background-color: #D94423;
    }
    .header{
        text-align: center}
.main__img{
    grid-template-areas:"vuelta" 
    "paseo";

    grid-template-columns:  1fr;
    grid-template-rows: 1 fr;}
    .productos{
       
        display: grid;
        grid-template-areas: "frutas" 
        "sugerencias"
        "especiales"  ;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        font-size: 40px}
        }
  